/* All elements */
* {
    margin: 0px;
    padding: 0px;
    position: relative;
}
/* Body of the page */
body {
    width: 90vw;
    position: absolute;
    font-family: 'Epilogue';
    font-style: normal;
}
main {
    width: 1108.85px;
    margin: 0px;
}
.page {
    padding: 2rem;
    width: 1110px;
    color: #FAF8F6;
}
/* nav bar */
.nav {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.suite {
    width: 78.41px;
    height: 24.8px;
    left: 80px;
    top: 62.58px;
    color: #172339;
}
/* button */
.beta {
    width: 219px;
    height: 56px;
    left: 90%;
    top: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    color: #172339;
    background: inherit;
    box-sizing: border-box;
    border: 1px solid #172339;
    border-radius: 6px;
}
/* hover button */
.beta:hover {
    color: #F3EDE7;
    cursor: pointer;
    background-color: #172339;
}
/* section two */
.two {
    position: absolute;
    width: 635px;
    height: 405px;
    left: -50px;
}
.solution {
    width: 635px;
    height: 156px;
    left: 166px;
    top: 276px;
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
}
/* paragraph */
.sales {
    width: 350px;
    height: 96px;
    left: 166px;
    top: 472px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #49566D; 
}
/* button */
.access {
    position: absolute;
    width: 219px;
    height: 56px;
    left: 0px;
    top: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    background: #172339;
    color: #FAF8F6;
    margin-top: 650px;
    margin-left: 160px;
    box-sizing: border-box;
    border: 1px none #172339;
    border-radius: 6px;
}
/* hover button */
.access:hover {
    color: #F3EDE7;
    cursor: pointer;
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}
/* section three */
.three {
    position: absolute;
    width: 1109px;
    height: 545px;
    left: 120px;
    top: 972px;
    background-color: #172339;
    border-radius: 15px;
}
/* image of a man */
.jeremy {
    width: 361px;
    height: 590px;
    left: 50px;
    top: -45px;
    z-index: 1;
}
.jeremy1 {
    display: none;
}
/* pattern blur svg */
.pattern {
    width: 294px;
    height: 294px;
    left: 39px;
    top: 182px;
    background: #DB65E2;
    mix-blend-mode: normal;
    opacity: 0.48;
    filter: blur(67.957px);
}
/* pattern curved line svg  */
.path1 {
    width: 287px;
    height: 32px;
    left: 410px;
    top: 222.68px;
    border: 2px #172339;
}
.path {
    display: none;
}
div {
    position: absolute;
    width: 350px;
    height: 369px;
    left: 801px;
    top: 1060px;
} 
/* pattern blur svg */
.path2 {
    width: 64.05px;
    height: 52px;
    left: 500px;
    top: 150px;
    border: 2px none #172339;
    transform: matrix(1, 0, 0, 1, 0, -1);
}
.works {
    height: 369px;
    left: 700px;
    top: calc(50% - 56px/2 - 156.5px);
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;  
    letter-spacing: -0.5px;
    color: #FAF8F6;
}
/* section four */
.four {
    width: 190px;
    height: 375px;
    left: 1050px;
    top: 279px;
    font-weight: 200;
    font-size: 30px;
    line-height: 80px;
    letter-spacing: -1px;
    color: #172339;
}
.small {
    width: 190px;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    top: -20px;
    color: #49566D;
    letter-spacing: 2.5px;
    line-height: 60px;
}
.loc {
    left: 0%;
    right: 45.71%;
    top: 20px;
    bottom: 0%;
    font-weight: 400;
    font-size: 16px;
    line-height: 100px;
    letter-spacing: 2.5px;
    color: #F3EDE7;
    text-transform: uppercase;
}
.name {
    height: 32px;
    left: 0%;
    top: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 70px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    text-transform: uppercase;
}
/* paragraph */
.miracle {
    left: 0%;
    right: 0%;
    top: 20px;
    bottom: 26.56%;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #F3EDE7;
}
/* image of phone */
.phone {
    width: 350px;
    height: 600px;
    left: 590px;
    top: 173px;
    z-index: -1;
}
/* footer */
.footer {
    width: 1109px;
    height: 32px;
    left: 167px;
    top: 370px;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.0833333px;
    color: #49566D;
}
.foot {
    position: absolute;
    width: 1350px;
    height: 464px;
    left: -1px;
    top: 1252px;
    background: #F3EDE7;
    z-index: -1;
}
/* button */
.down-suite {
    height: 32px;
    left: -15%;
    right: 92.7%;
    top: 6px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    color: #172339;
}
/* copyright */
.copyright {
    height: 32px;
    left: -50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.0833333px;
    color: #49566D;
}
/* social meadia icons */
.handle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 116px;
    height: 20px;
    left: 960px;
    top: 6px;
}
.handle :hover {
    cursor: pointer;
    background: #172339;
    opacity: 0.5;
    background-color: white;
}
/* responsive styles */
/*  tablet responsiveness  */  
@media screen and (max-width: 768px) {
    body {     
        overflow-x: hidden;
    }
    main{  
        width: 768px;
    }
    .page{
        width: 768px;
        margin: 0px;
        padding: 0px;
    }
    .nav {
        width: 500px;
        left: 39px;
    }
    .suite {
        left: 0px;
    }
    .action{
        left: -160px;
    }
    .two {
        left: 39px;
    }
    .phone {
        width: 281px;
        height: 482px;
        left: 510px;
        top: 173px;
    }
    .phone1 {
        display: none;
    }
    .solution {
        top: 264px;
        font-size: 45px;
    }
    .sales {
        left: 166px;
        top: 433px;
        font-size: 16px;
    }
    .access {
        top: -60px;
    }
    .four {
        display: flex;
        width: 689px;
        height: 83px;
        left: 100px;
        top: 800px;
    }
    .small {    
        width: 689px;
        top: 40px;
        left: -70px;
    }
    .three {
        width: 689px;
        height: 684px;
        left: 39px;
        top: 1302px;
        z-index: 1;
    }
    .jeremy {
        display: none;
    }
    .jeremy1 {
        display: inline;
        left: 200px;
        top: -170px;
        z-index: 1;
    }
    .pattern {
        width: 200px;
        height:10px ;
        left: 80px;
        top: -100px;
}
    .path1{
        left: 250px;
    }
    .path2 {
        left: 300px;
        top: 270px;
     }
     .works {
        height: 369px;
        left: 200px;
        top: 350px;
    }
    .miracle {
        left: -140px;
        width: 558px;
        text-align: center;
    }
    .name {
        text-align: center;
        left: -40px;
    }
    .loc {
        text-align: center;
        left: -40px;
    }
    .foot {
        width: 768px;
        height: 640px;
        left: 0px;
        top: 1532px;
        z-index: -1;
    }
    .footer {
        width: 689px;
        height: 32px;
        left: 16px;
        top: 520px;
    } 
    .handle {
        width: 116px;
        height: 20px;
        left: 596px;
        top: 6px;
    }
    .copyright {
        left: 15px;
    }
}
/* Mobile responsiveness */
@media screen and (max-width: 375px) {
    body {
        overflow-x: hidden;
    }
    main{
        width: 375px;
    }
    .page{
        width: 375px;
        margin: 0px;
        padding: 0px;
    }
    .nav {
        width: 343px;
        left: 20px;
    }
    .beta {
        width: 182px;
        height: 56px;
        left: 150px;
    }
    .two {
        width: 343.5px;
        height: 325.32px;
        left: 69px;
        top: -70px;
    }
    .path {
        top: 100px;
        left: 330px;
    }
    .path1 {
        display: none;
    }
    .solution {
        top: 200px;
        left: 110px;
        font-size: 38px;
    }
    .sales {
        width: 343px;
        height: 84px;
        top: 350px;
        left: 110px;
    }
    .access {
        top: -170px;
        left: -50px;
    }
    .phone {
        display: none;
    }
    .phone1{
        display: inline;
        top: 520px;
        left: 175px;
    }
    .four {
        display: block;        
        text-align: center;
        width: 344px;
        height: 313px;
        left: 10px;
        top: 835px;
    }
    .small {    
        top: -40px;
        left: -170px;
    }
    .three {
        width: 375px;
        height: 748px;
        left: 0px;
        top: 1490px;
    }
    .jeremy1 {
        left: 80px;
    }
    .pattern {
        width: 10px;
        height:10px ;
        left: -160px;
    }
        .path2 {
        left: 150px;
        top: 270px;
     }
     .works {
        height: 369px;
        left: 70px;
        top: 350px;
    }
    .miracle {
        left: -60px;
        width: 343px;
    }
    .name {
        left: -60px;
    }
    .loc {
        text-align: center;
        left: -60px;
    }
    .foot {
        width: 377px;
        height: 420px;
        left: 0px;
        top: 2100px;
        z-index: -1;
    }
    .footer {
        display: block;
        width: 125px;
        height: 32px;
        left: 16px;
        top: 300px;  
    } 
    .down-suite {
        top: -100px;
        left: 0px;
    }
    .copyright {
        width: 125px;
        top: -40px;
        left: 110px;
    }
    .handle {
        width: 125px;
        left: 110px;
        top: 30px;
    }
}